.event
{
  text-align: center;
  font-weight: bold;
}
.card-container {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    /* align-items:center ; */
  /* grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; */
  /* margin: 0 130px; */
}
.card1,.card2,.card3 {
    box-shadow: 3px 3px 5px 5px rgba(155, 112, 172, 0.2);
    transition: 0.3s;
    border-radius: 6px;
    background-color:#b8cdd6;
    width: 270px;
    height: 100%;
  }
  .card1:hover {
    box-shadow: 5px 8px 13px 5px  #010111;
  }
  .card2:hover {
    box-shadow: 5px 8px 13px 5px  #010111;
  }
  
 .card3:hover {
    box-shadow: 5px 8px 13px 5px  #010111;
  }

  
  .cont {
    padding: 2px 16px; 
      }
  .eventhead{
    color: rgb(27, 27, 100);
    text-align: center;
    text-decoration: underline;
    font-size: 27px;
    font-weight: bold;
  }
  #more1,#more2,#more3 {display: none;}
  #myBtn1,#myBtn2,#myBtn3
  {
    float: right;
    margin-bottom: 10px;
  }

