.a1 {
    background-image: url('vision.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
   
  }

  h1 {
    color: black;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    text-decoration-color: black;
    
  }
  .h1:hover {
    text-decoration: underline;
    
  }
/*.h1::after {
    content: '';
  position: absolute;
  text-align: center;
  width: 16.5%;
  display: inline-block;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.30s ease-out, width 0.25s ease-out;
  }
  .h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  } */
  
.a2
{
    font-size: 21px;
    margin-right: 110px;
    margin-left: 110px;
    color: rgb(19, 18, 77);
    font-weight: 600;
    
}



